<nav class="navbar fixed-top sticky-top navbar-expand-lg header row" style="width:100%">
    <div class="d-flex justify-content-around">
        <div class="left">
            <a class="navbar-brand font-weight-bold mx-3 my-3" (click)="onNavigate('charts')">EnergyLive 2022</a>
        </div>
        <div class="middle"> 
        </div>
        <div class="right d-flex justify-content-center"  *ngIf="(loggingService.user | async) !== null">  
            <div *ngIf="loggingService.user | async as user else profile"> 
                <div *ngIf="user.hasOwnProperty('email');">
                    <button class="btn" (click)="onNavigate('profile')">
                        <img 
                            class="rounded-circle" 
                            src="{{user.photoUrl}}" 
                            width="30" 
                            height="30"                    
                        >
                    </button>
                </div>
            </div>  
            <ng-template #profile>
                <button class="btn" (click)="onNavigate('profile')">
                    <app-icon icon="user-black"></app-icon>
                </button>
            </ng-template> 
            <button class="btn" (click)="onNavigate('sign-out')">
                <app-icon icon="sign-out.svg"></app-icon>
            </button> 
        </div>
    </div> 
</nav>  