<div class="d-flex justify-content-center my-5">
    <div class="date border px-5 py-5 ">
        <div class="mb-4">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>     
        </div>
        
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        
        <hr/>  
    
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{option}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let option of options; let i=index" (click)="onChooseOption(i)">{{option}}</button> 
            </div>
        </div>
    </div>
    <div class="chart mx-5" *ngIf="index >= 0">
        <div class="items" id="chart">
            <div class="mb-3 d-flex align-items-center justify-content-center -mx-2"> 
                {{option}}
            </div> 
            <ngx-charts-line-chart
                [view]="[500,500]"
                [results]="saleData"
                [xAxisLabel]="'Χρόνος'"
                [yAxisLabel]="'Τιμή'"  
                [showXAxisLabel]="true"
                [showYAxisLabel]="true"
                [xAxis]="true"
                [yAxis]="true" 
                *ngIf="index >= 0" 
            >   
            </ngx-charts-line-chart>  
            
            Latest Update: tade ora
            <button class="btn btn-primary" (click)="onSaveAsPng()">Save as svg</button>
            <button class="btn btn-primary" (click)="onSaveData()">Save data</button>
        </div>
        <div class="bottom" style="position: bottom">
            test
        </div>
    </div>

</div>
