<div class="d-flex justify-content-evenly my-5">
    <div class="date border px-5 py-5 ">
        <div class="mb-4">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="selectToday()">Select Today</button>
            <button class="btn btn-sm btn-outline-primary me-2" (click)="dp.navigateTo()">To current month</button>     
        </div>
        
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
        
        <hr/>  
    
        <div ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{option}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem *ngFor="let option of options; let i=index" (click)="onChooseOption(i)">{{option}}</button> 
            </div>
        </div>
    </div>
    <div class="chart bg-primary">
        <div class=""  *ngIf="index >= 0">
            <div class="header">{{option}}</div>
        </div>
        
    </div>
</div>
