<div class="container">
    <div class="row text-center justify-content-evenly mt-2" >   
        <h3 class="mb-5 mt-2">EnergyLive 2022</h3>
        <hr class="mb-5">
        <div class="row">
            <div class="col">
                <p>Θοδωρής el18040</p>
                <a href="">paparrigopoulosthodoris@gmail.com</a>
            </div>
            <div class="col">
                <p>Ορφέας el18082</p>  
                <a href="">orfeasfil2000@gmail.com</a>          
            </div>   
            <div class="col">
                <p>Δέσποινα el18061</p>  
                <a href="">dgrammenou@hotmail.com</a>          
            </div> 
            <div class="col">
                <p>Μαρία el18197</p>  
                <a href=""></a>          
            </div> 
        </div>
        <hr class="mt-5">
        <div class="row mt-4">
            <div class="col">
                <p>Αγγελος el18197</p>
                <a href="">aggelosmitrokotsas@gmail.com</a>
            </div>
            <div class="col">
                <p>Ανδρέας el18043</p>  
                <a href="">loukomarios@gmail.com</a>          
            </div>   
        </div>                
    </div>
</div>