<div class="container d-flex justify-content-center">
    <div id="home" class="my-5">
        <app-icon icon="home.png"></app-icon>
        <div class="d-flex justify-content-center">
            <h1 class="my-5">EnergyLive 2022</h1>
        </div>
        <!-- login -->
        <div class="d-flex justify-content-center">
            <div>
                <div class="d-flex justify-content-center" *ngIf="isLoggedin === false">
                    <button type="button" (click)="loginWithGoogle()" class="btn btn-danger">Sign in with Google</button>
                </div>
    
            </div>
            
        </div>
    </div> 
</div> 